.error{
	color: red;
	font-weight: bold;
}
.templatemo-left-nav > ul > li > a {
	padding: 15px 30px;
}
/* .templatemo-top-nav a {
	border-left: none;
} */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination>li {
    display: inline;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.pagination > li > span{
	display: inline;
	border-radius: 10px;
	margin-left: 0;
	background-color: #39ADB4;
    border-color: #E9E8E8;
        z-index: 2;
    color: #fff;
    cursor: default;
        margin: 2px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     border-radius: 10px;
}
.pagination > li.disabled > span{
	 border-radius: 10px;	
}
.pagination > li.active > span{
	 border-radius: 10px;	
	 background-color: #39ADB4
}
.templatemo-user-table thead {
    background-color: white;
    color: #39ADB4;
    text-align: center;
}
.templatemo-user-table thead > tr > th {
    text-align: center;
    text-transform: uppercase;
}

#avartar-img-show{  
   max-width: 70%;
}